#header{
    width: 100%;
    height: 70px;    
    background-color: #24292e;    
    overflow: hidden;
    position: relative;
    z-index: 999;    
    box-shadow: 1px 1px 15px #ababab;

}

#header #titleHolder{
    position: relative;
    text-align: center;
    padding-left: 20px;
    float: left;
    margin-top: 10px;
    height: 100%;
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 40px;
}

.contentSection{
    text-align: center;
}